<h1>Add a reward for <%= @project.title %></h1>

<%= form_for [@project, @reward] do |f| %>
  <div>
    <%= f.label :dollar_amount %>
    <%= f.number_field :dollar_amount, step: 0.01 %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <%= f.submit %>
<% end %>
