<%= form_for(@project) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <p>Rewards</p>
  <div>
    <%= f.fields_for :rewards do |r| %>
      <%= render 'reward_fields', :f => r %>
    <% end %>
  </div>

  <div>
    <%= link_to_add_association 'add reward', f, :rewards %>
  </div>
  <%= f.submit %>
<% end %>
