<%= form_for(@project, html: {multipart: true}) do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :goal %>
    <%= f.number_field :goal %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div>
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div>
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <p>Rewards</p>

  <%= f.fields_for :rewards do |r| %>
    <%= render 'reward_fields', :f => r %>
  <% end %>
  </div>

  <div>
    <%= link_to_add_association 'add reward', f, :rewards %>
  </div>
  <%= f.submit %>
<% end %>
