
<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @project.image.present? %>
        <%= image_tag @project.image %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h1>
        <%= @project.title %>
      </h1>
    </div>
    <div class="col-sm">
      <% if @project.category %>
        <%= @project.category.name%>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <time class="project-days-left">
        <%= icon('clock-o') %>
        <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
      </time>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p><%= @project.description %></p>
    </div>
    <div class="col-sm">
      <p>Goal: <%= number_to_currency(@project.goal) %></p>
      <p>Raised: <%= number_to_currency(@project.earned) %></p>
    </div>
    <div class="col-sm">
      <p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
      <p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
    </div>
  </div>

  <p> <%= @project.check_if_user_already_pledged(current_user) %></p>
  <%= form_for [@project, Pledge.new] do |f| %>
    <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
    <%= f.submit "Pledge" %>
  <% end %>

  <% if @current_user == @project.user %>
    <% @project.pledges.each do |pledge| %>
      <p><%= pledge.user.name %> has pledged <%= number_to_currency(pledge.dollar_amount) %></p>
    <% end %>
  <% end %>

  <h2>Rewards</h2>
  <% @project.rewards.each do |reward| %>
    <p><%= number_to_currency(reward.dollar_amount) %></p>
    <p><%= reward.description %></p>

    <p>
      <small>
        <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
      </small>
    </p>
  <% end %>

  <%= link_to "Add new reward", new_project_reward_path(@project) %>


    <h2>Updates</h2>

    <% @project.updates.each do |update| %>

      <p>
        <%= update.title %>
      </p>

      <p>
        <%= update.description %>
      </p>

      <br>

      <%= link_to("Edit", edit_project_update_path(@project.id, update.id)) %> | <%= link_to("Delete", "/projects/#{@project.id}/updates/#{update.id}", method: :delete, data: {confirm: "You sure you wanna delete this?"}) %>


      <% end %>
</div>
