<h1><%= @project.title %></h1>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %> 
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <%= form_for [reward, reward.pledges.new] do |f| %>
    <%= f.number_field :dollar_amount, value: reward.dollar_amount, step: 0.01 %>
    <%= f.submit "Pledge" %>
  <% end %>

<% end %>
