
<div class="container">
  <div class="row">
    <div class="col-sm">
      <% if @project.image.present? %>
        <%= image_tag @project.image %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <h1>
        <%= @project.title %>
      </h1>
      <% if @project.category %>
        <button type="button" class="btn btn-dark"><%= @project.category.name%></button>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <time class="project-days-left">
        <%= icon('clock-o') %>
        <%= "#{time_ago_in_words(@project.end_date)} #{( @project.end_date > Time.now.utc ) ? 'remaining' : 'past deadline'}" %>
      </time>
    </div>
  </div>

  <div class="row">
    <div class="col-sm">
      <p><%= @project.description %></p>
    </div>
    <div class="col-sm">
      <p>Goal: <%= number_to_currency(@project.goal) %></p>
      <p>Raised: <%= number_to_currency(@project.earned) %></p>
      <p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
      <p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>
    </div>
    <div class="col-sm">
      <% @project.check_if_user_already_pledged(current_user) %>
      <%= form_for [@project, Pledge.new] do |f| %>
        <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
        <%= f.submit "Pledge" %>
      <% end %>
    </div>
  </div>

  <% if @current_user == @project.user %>
    <div class="row">
      <div class="col-sm">
        <h2>Backers</h2>
      </div>
    </div>
    <div class="row">
      <% @project.pledges.each do |pledge| %>
        <div class="col-4">
          <p><%= pledge.user.name %> has pledged <%= number_to_currency(pledge.dollar_amount) %></p>
        </div>
      <% end %>
  </div>
  <% end %>

  <div class="row">
    <div class="col-sm">
      <h2>Rewards</h2>
      <%= link_to "Add new reward", new_project_reward_path(@project) %>
    </div>
  </div>
  <div class="row">
    <div class="card-group">
    <% @project.rewards.each do |reward| %>
      <div class="col-4">
        <div class="card">
          <div class="card-body">
            <p class="card-title"><%= number_to_currency(reward.dollar_amount) %></p>
            <p class="card-text"><%= reward.description %></p>
          </div>
          <div class="card-footer text-muted">
            <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>


  <section class="project-comments">
    <h2>Comments</h2>
    <%= render 'comments/comment_form' %>

    <% if current_user && current_user.pledges.include?(@project) || @project.user == current_user %>
      <%= render 'comments/comment_form', project: @project, comment: @comment%>
    <% elsif current_user %>
      <p>Please back this project if you'd like to leave a comment.</p>
    <% else %>
      <p><%= link_to "Log in", :login %> to leave a comment </p>
    <% end %>
  </section>

    <h2>Updates</h2>

    <% @project.updates.each do |update| %>

      <p>
        <%= update.title %>
      </p>

      <p>
        <%= update.description %>
      </p>

      <br>

      <%= link_to("Edit", edit_project_update_path(@project.id, update.id)) %> | <%= link_to("Delete", "/projects/#{@project.id}/updates/#{update.id}", method: :delete, data: {confirm: "You sure you wanna delete this?"}) %>


      <% end %>
</div>
