<h1><%= @project.title %></h1>

<% if @project.image.present? %>
  <%= image_tag @project.image %>
<% end %>

<p><%= @project.description %></p>
<p>Goal: <%= number_to_currency(@project.goal) %></p>
<p>Fundraising starts: <%= @project.start_date.strftime("%A %b %d %Y") %></p>
<p>Deadline: <%= @project.end_date.strftime("%A %b %d %Y") %></p>

<%= form_for [@project, Pledge.new] do |f| %>
  <%= f.number_field :dollar_amount, value: @project.rewards.minimum(:dollar_amount), step: 0.01 %>
  <%= f.submit "Pledge" %>
<% end %>

<h2>Rewards</h2>
<% @project.rewards.each do |reward| %>
  <p><%= number_to_currency(reward.dollar_amount) %></p>
  <p><%= reward.description %></p>

  <p>
    <small>
      <%= link_to "Remove reward", project_reward_path(@project, reward), method: 'delete' %>
    </small>
  </p>
<% end %>

<%= link_to "Add new reward", new_project_reward_path(@project) %>
